name: Gera Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Gerar Snake
        uses: Platane/snk@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user_name: ccpaschoal    # Ajuste para seu user
          output: docs/snake.svg

      - name: Fazer push do snake.svg
        uses: ad-m/github-push-action@v0.6.0
        with:
          branch: main
          file: docs/snake.svg
          token: ${{ secrets.GITHUB_TOKEN }}
